<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cutomer_app"> <!-- Replace with your actual package name -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>  
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/> -->
   


    

    <application
        android:label="Customer App"
        android:name="${applicationName}"
        android:icon="@mipmap/surecare_launcher"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:foregroundServiceType="location"
        >

         <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyCmVhTkTe3fL1MI0VA7V4znEUTS56q2RMg" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

           

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
